.grid-container {
  display: grid;
  grid-template-columns: 300px 900px;
  grid-template-rows: 500px;
  grid-gap: 10px;
  padding: 10px;
}
.grid-container>textarea {
  padding:20px 0;
}
.button {
  position: relative;
  left: 0px;
  width: 100px;
}